[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
torch = "*"
torchtext = "*"
janome = "*"

[dev-packages]
ipykernel = "*"
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.9"
